body{
	padding:0px;
	margin:0px;
}
.header-section{
	width:100%;
	background:#7c2c0c;
	border-top:20px solid #efe4d1;
	border-bottom:20px solid #efe4d1;
	position:relative;
	z-index:99;
}
.container{
	width:90%;
	margin:0 auto;
}
.row{
	display:flex;
	
}
.header-col-1{
	width:30%;
}
.header-col-2{
	width:70%;
}
.menu{
	list-style-type:none;
	display:flex;
	margin-top:30px;
	justify-content:flex-end;
	
}
.menu li{
	margin-right:30px;
}
.menu li a{
	color:#fcfefe;
	text-decoration:none;
	font-size:20px;
}
/*--banner-section start--*/
.banner-section{
	width:100%;
	padding-bottom:40px;
	background:#fae6c4;
	box-shadow: 0px 2px 10px 0px;
}
.bcol-1{
	width:50%;
	position:relative;
	
}
.left h1{
	color:#7c2c0c;
	font-size:50px;
	font-weight:bold;
	line-height:60px;
	padding-top:50px;
	
	
}
.left p{
	color:#7c2c0c;
	font-size:20px;
	font-weight:bold;
	padding-top:30px;
}
.banner-btn a{
	text-decoration:none;
	border:1px solid #7c2c0c;
	color:#7c2c0c;
	padding:10px 20px;
}

.bcol-2{
	width:50%;
}
.banner-image img{
	width:100%;
	height:auto;
	padding-top:145px;
}
/* About section start  */
.about-section{
	width:100%;
	padding:70px 0px;
}
.about-col-1{
	width:50%;
}
.about-col-2{
	width:50%;
}
.about-heading{
	color:#7c2c0c;
	font-size:30px;
	font-weight:bold;
	margin-top:200px;
	
}
.about-peragrph{
	font-size:20px;
}
.about-link{
	line-height:10px;
}
.about-link a{
	font-size:20px;
	border:1px solid #7c2c0c;
	color:#7c2c0c;
	padding:10px 20px;
	text-decoration:none;
}
.about-img{
	border:1px solid #7c2c0c;
	text-align:center;
	padding:50px 0px;
	margin:0px  70px;
	position:relative;
}
.about-img:before{
	content:'';
	position:absolute;
	width:100px;
	height:100px;
	background-image:url(../images/arrow-1.png);
    left:-50px;
	top:-30px;
}
.about-img:after{
	content:'';
	position:absolute;
	width:100px;
	height:100px;
	background-image:url(../images/arrow-1.png);
	right: -130px;
	bottom:-30px;
   
}

/* About section start  */
/* Design section start */ 
.design-section{
	width:100%;
	padding:90px 0px;
	
}
.Dheading{
	text-align:center;
}
.Dheading h1{
	color:#7c2c0c;
	font-size:40px;
	font-weight:bold;
	
}
.Dheading p{
	font-size:20px;
	opacity:0.6;
	
	
}
.row{
	display:flex;
	
}
.col-1{
	width:33%;
}
.box{
	border:1px solid #7c2c0c;
	padding:50px;
	text-align:center;
	margin-left:20px;
}
.box:hover{
	background-color:#fae6c4;
}
.box h3{
	color:#7c2c0c;
	
}

.btn-1{
	text-align:center;
	margin-top:50px;
	
}
.btn-1 a{
	border:1px solid #7c2c0c;
	/* text-decoration:none; */
	color:white;
	background-color:#7c2c0c;
	font-size:19px;
	font-weight:bold;
	border-radius:5px;
	padding:10px 20px;
	text-align:center;
}
/* Design section End  */
/* Subscribe section start  */
.subscribe-section{
	width:100%;
	padding:60px 0px;
	background-color:#fdebcb;
	
}
.subscribe-col{
	width:50%;
}
.subimg{
	width:90%;
}
.sub-heading{
	color:#7c2c0c;
	font-size:40px;
	font-weight:bold;
}
.subsc-email{
	width: 100%;
    float: left;
    background-color: transparent;
    border: 1px solid #7c2c0c;
    padding: 8px 15px;
    color: #7c2c0c;
    font-size: 20px;
    margin-top: 30px;
}
.subsc-email::placeholder{
	color:#7c2c0c;
}
.sub-btn{
	text-align:center;
}
.sub-btn{
	text-align:center;
	
}
.sub-btn button{
	padding:8px 50px;
	font-size:14px;
	background-color:#7c2c0c;
	margin-top:30px;
}
.sub-btn button a{
	color:white;
	text-decoration:none;
}

/* Subscribe section end  */
/* Contact section start*/
.contact-section{
	  width:100%;
	  padding:70px 0px;
}
.contact-col{
	width:50%;
}
.heading-cont{
	color:#7c2c0c;
	font-size:45px;
	font-weight:bold;
}
.cont-fome{
	  width:90%;
	  padding:20px 15px;
	  margin-top:15px;
	  
}
.cont-fome::placeholder{
	font-size:18px;
	
}
.cont-btn{
		text-align:center;
		margin-top:50px;
}

.cont-btn button{
        padding:12px 70px;
		font-size:18px;
		background-color:#7c2c0c;
		
}
.cont-btn button a{
	text-decoration:none;
	color:white;
}



/* Contact section End  */
/*  footer section Start  */
.bootem-section{
	width:100%;
	padding:40px 0px;
	background:#100703;
}

.footer-contact ul{
	display:flex;
	justify-content:space-around;
	padding:60px 0px;
	line-height:10px;
	position:relative;
	top:40px;
	
}
.footer-angr{
	 text-decoration:none;
	 font-size:20px;
	 color:white;
	 margin-left:10px;
	 line-height:50px;
}
.footer-angr:hover{
	color:#7c2c0c;
}
.footer-col{
	width:25%;
	color:white;
}

.footer-menu1{
	list-style-type:none;
	line-height:20px;
	margin-top:40px;
}
.footer-menu1 li a{
	text-decoration:none;
	color:#878585;
	font-size:18px;
	line-height:30px;
}
.footer-menu1 li a:hover{
	color:#7c2c0c;
}
.footer-perag{
	color:#878585;
	font-size:18px;
}
.footer-heading{
	line-height:
}
.footer-social{
	display:flex;
	list-style-type:none;
	margin-left:-45px;
	
}
.footer-social i{
	color:white;
	background-color:#171717;
	margin-left:10px;
	padding:15px;
	border-radius:50%;
	font-size:22px;
}
.footer-social i:hover{
	background-color:#7c2c0c;
}
.active i{
	background-color:#7c2c0c;
}


/*  footer section End  */


